<div class="container-fluid auth-background">
  <div class="row justify-content-center">
    <div class="col-md-10 stretch-card">
      <div class="card">
        <div class="card-body">
          <h6 class="fw-bold mb-4 text-center" style="color: #96134b; font-size: 1.2rem;">
            SOLICITUD DE TESTAMENTO
          </h6>
          <form [formGroup]="formTestamento"  (ngSubmit)="enviarDatos()"  class="forms-sample">
            <div class="row">
              <div class="col-sm-4">
                <div class="mb-3">
                  <label class="form-label negri">CURP:*</label>
                  <input formControlName="f_curp" type="text" class="form-control"
                    placeholder="Ejemplo: MACJ750101HDFRRL01" maxlength="18" />
                   <small class="colorsm" *ngIf="formTestamento.get('f_curp')?.hasError('pattern')">
                    <strong> CURP inválida o incompleta.</strong>
                  </small>
                  <div>
                   <small class="colorsm" *ngIf="formTestamento.get('f_curp')?.hasError('required')">Este campo es
                      <strong>requerido</strong></small>
                    <br />
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="mb-3">
                  <label class="form-label negri">RFC:*</label>
                  <input formControlName="f_rfc" type="text" class="form-control" placeholder="Ejemplo: MACJ750101"
                    maxlength="10" />
                  <div>
                    <small class="colorsm" *ngIf="formTestamento.get('f_rfc')?.hasError('required')">Este campo es
                      <strong>requerido</strong></small>
                    <br />
                  </div>
                </div>
              </div>

                  <div class="col-sm-4">
                <div class="mb-3">
                  <label class="form-label negri">Ocupación:</label>
                  <input formControlName="ocupacion" type="text" class="form-control" value='Servidor Público'/>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-4">
                <div class="mb-3">
                  <label class="form-label negri">Nombre completo:*</label>
                  <input formControlName="f_nombre" type="text" class="form-control"
                    placeholder="Ejemplo: Juan Carlos" />
                  <small class="colorsm" *ngIf="formTestamento.get('f_nombre')?.hasError('required')">Este campo es
                      <strong>requerido</strong></small>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="mb-3">
                  <label class="form-label negri">Apellido paterno:*</label>
                  <input formControlName="f_primer_apellido" type="text" class="form-control"
                    placeholder="Ejemplo: Martínez" />
                 <small class="colorsm" *ngIf="formTestamento.get('f_primer_apellido')?.hasError('required')">Este campo es
                      <strong>requerido</strong></small>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="mb-3">
                  <label class="form-label negri">Apellido materno:*</label>
                  <input formControlName="f_segundo_apellido" type="text" class="form-control"
                    placeholder="Ejemplo: López" />
                  <small class="colorsm" *ngIf="formTestamento.get('f_segundo_apellido')?.hasError('required')">Este campo es
                      <strong>requerido</strong></small>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-4">
                <div class="mb-3">
                  <label class="form-label negri">Fecha de nacimiento:*</label>
                  <input formControlName="f_fecha_nacimiento" type="date" class="form-control"
                    placeholder="Ejemplo: usuario@dominio.com" />
                  <div>
                    <small class="colorsm" *ngIf="formTestamento.get('f_fecha_nacimiento')?.hasError('required')">Este campo es
                      <strong>requerido</strong></small>
                    <br />
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="mb-3">
                  <label class="form-label negri">Edad:</label>
                  <input formControlName="edad" type="text" class="form-control" placeholder="Ejemplo: 32"
                      />
                </div>
              </div>
              <div class="col-sm-4">
                <div class="mb-3">
                  <label class="form-label negri">Lugar de nacimiento:*</label>
                  <input formControlName="lugar_nacimiento" type="text" class="form-control"
                    placeholder="Ejemplo: Veracruz" />
                 <small class="colorsm" *ngIf="formTestamento.get('lugar_nacimiento')?.hasError('required')">Este campo es
                      <strong>requerido</strong></small>
                </div>
              </div>
            </div>

            <!-- <div class="row">
          
            </div> -->

            <div class="row">
              <div class="col-sm-4">
                <div class="mb-3">
                  <label class="form-label negri">Código postal:</label>
                  <input formControlName="f_cp" type="text" class="form-control" placeholder="Ejemplo: 50122" (change)="getLocalidad()"/>
                  <small class="colorsm" *ngIf="formTestamento.get('f_cp')?.hasError('required')">Este campo es
                      <strong>requerido</strong></small>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="mb-3">
                  <label class="form-label negri">Entidad federativa:</label>
                  <input  [value]="formTestamento.get('estado_nombre')?.value" type="text" class="form-control" placeholder="Ejemplo: México"
                    [readonly]="true" />
                  <small class="colorsm" *ngIf="formTestamento.get('estado_id')?.hasError('required')">Este campo es
                      <strong>requerido</strong></small>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="mb-3">
                  <label class="form-label negri">Municipio:</label>
                  <input [value]="formTestamento.get('municipio_nombre')?.value" type="text" class="form-control" placeholder="Ejemplo: México"
                    [readonly]="true" />
                  <small class="colorsm" *ngIf="formTestamento.get('municipio_id')?.hasError('required')">Este campo es
                      <strong>requerido</strong></small>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-4">
                <div class="mb-3">
                  <label class="form-label negri">Colonia:</label>
                  <ng-select
                    [items]="localidades"
                    bindLabel="colon"
                    bindValue="idcol"
                    formControlName="colonia_id"
                    placeholder="Selecciona una colonia">
                  </ng-select>
                  <small class="colorsm" *ngIf="formTestamento.get('colonia_id')?.hasError('required')">Este campo es
                      <strong>requerido</strong></small>
                </div>
              </div>

              <div class="col-sm-4">
                <div class="mb-3">
                  <label class="form-label negri">Calle:</label>
                  <input formControlName="f_domicilio" type="text" class="form-control" placeholder="Ejemplo: México"
                    [readonly]="true" />
                  <small class="colorsm" *ngIf="formTestamento.get('f_domicilio')?.hasError('required')">Este campo es
                      <strong>requerido</strong></small>
                </div>
              </div>

              <div class="col-sm-4">
                <div class="mb-3">
                  <label class="form-label negri">Número:</label>
                  <input formControlName="numext" type="text" class="form-control" placeholder="Ejemplo: México" />
                  <small class="colorsm" *ngIf="formTestamento.get('numext')?.hasError('required')">Este campo es
                      <strong>requerido</strong></small>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-4">
                <div class="mb-3">
                  <label class="form-label negri">Teléfono:*</label>
                  <input formControlName="numero_tel" type="number" class="form-control"
                    placeholder="Ejemplo: 5512345678" />
                  <small class="colorsm" *ngIf="formTestamento.get('numero_tel')?.hasError('pattern')">
                    Número de teléfono inválido.<strong>Debe tener 10 dígitos.</strong>
                  </small>
                  
                    <small class="colorsm" *ngIf="formTestamento.get('numero_tel')?.hasError('required')">Este campo es
                      <strong>requerido</strong></small>
                    <br/>
                  
                </div>
              </div>
              <div class="col-sm-4">
                <div class="mb-3">
                  <label class="form-label negri">Celular:*</label>
                  <input formControlName="numero_cel" type="number" class="form-control"
                    placeholder="Ejemplo: 5512345678" />
                   <small class="colorsm" *ngIf="formTestamento.get('numero_cel')?.hasError('pattern')">
                    Número de teléfono inválido.<strong>Debe tener 10 dígitos.</strong>
                  </small>
                    <small class="colorsm" *ngIf="formTestamento.get('numero_cel')?.hasError('required')">Este campo es
                      <strong>requerido</strong></small>
                </div>
              </div>

              <div class="col-sm-4">
                <div class="mb-3">
                  <label class="form-label negri">Correo electrónico:*</label>
                  <input formControlName="correo_per" type="email" class="form-control"
                    placeholder="Ejemplo: usuario@dominio.com" />



                    
                      <small class="colorsm" *ngIf="formTestamento.get('correo_per')?.hasError('required')">Este campo es <strong>requerido</strong></small>
                     
                     
                      <small class="colorsm" *ngIf="formTestamento.get('correo_per')?.hasError('email')">Por favor
                      <strong>ingresa un correo válido.</strong></small>
                    
                </div>
              </div>
            </div>
            <div>
              <h5 class="titulo">Documentación requerida:</h5>
            </div>
            <br>
            <div class="row">
              <div class="col-sm-6">
                <div class="mb-3 d-flex flex-column justify-content-between h-100">
                  <label class="form-label negri">Acta de nacimiento:*</label>
                  <div class="mt-auto">
                    <input class="form-control" type="file" id="curp" accept="application/pdf" (change)="onFileSelect($event, 'acta_nacimiento')">
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="mb-3 d-flex flex-column justify-content-between h-100">
                  <label class="form-label negri">Acta de matrimonio:</label>
                  <div class="mt-auto">
                    <input class="form-control" type="file" id="curp" accept="application/pdf" (change)="onFileSelect($event, 'acta_matrimonio')">
                  </div>
                </div>
              </div>
            </div>
             <br>
            <div class="row">
              <div class="col-sm-6">
                <div class="mb-3 d-flex flex-column justify-content-between h-100">
                  <label class="form-label negri">Identificación oficial vigente (Credencial para votar, pasaporte o
                    cédula profesional):*</label>
                  <div class="mt-auto">
                    <input class="form-control" type="file" id="curp" accept="application/pdf" (change)="onFileSelect($event, 'identificacion')">
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="mb-3 d-flex flex-column justify-content-between h-100">
                  <label class="form-label negri">Comprobante de domicilio:*</label>
                  <div class="mt-auto">
                    <input class="form-control" type="file" id="curp" accept="application/pdf" (change)="onFileSelect($event, 'comprobante_domicilio')">
                  </div>
                </div>
              </div>
            </div>
             <br>
            <div class="row">
              <div class="col-sm-6">
                <div class="mb-3 d-flex flex-column justify-content-between h-100">
                  <label class="form-label negri">Clave única de registro de población:*</label>
                  <div class="mt-auto">
                    <input class="form-control" type="file" id="curp" accept="application/pdf" (change)="onFileSelect($event, 'curp')">
                  </div>
                </div>
              </div>
            </div>
            <br>
            <div>
              <h5 class="titulo">
                En caso de ser adulto mayor o que su estado de salud así lo requiera, o si es sordo o invidente, o si no sabe o no puede firmar o leer o si tiene alguna dificultad con lo antes mencionado:
              </h5>
              <a class="btn btn-secondary mt-2" (click)="mostrarExtraInfo = !mostrarExtraInfo">
                {{ mostrarExtraInfo ? 'Ocultar' : 'Mostrar más' }}
              </a>
            </div>
            <div *ngIf="mostrarExtraInfo">
              <br>
              <div>
                <h5 class="titulo2">A. Presentar dos Certificados médicos:</h5>
              </div>
              <br>
              <div class="row">
                <div class="col-sm-6">
                  <div class="mb-3 d-flex flex-column justify-content-between h-100">
                    <label class="form-label negri">Expedido por una institución de salud pública :</label>
                    <div class="mt-auto">
                      <input class="form-control" type="file" id="certificado_publico" accept="application/pdf" (change)="onFileSelect($event, 'certificado_publico')">
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="mb-3 d-flex flex-column justify-content-between h-100">
                    <label class="form-label negri">Expedido por una Institución de salud privada:</label>
                    <div class="mt-auto">
                      <input class="form-control" type="file" id="certificado_privado" accept="application/pdf"  (change)="onFileSelect($event, 'certificado_privado')">
                    </div>
                  </div>
                </div>
              </div>
              <br>
              <div>
                <h5 class="titulo2">B. Presentar tres testigos que no sean familiares del testador o testadora, y
                  proporcionar de cada testigo lo siguiente:</h5>
              </div>
              <br>
              <div class="row">
                <div class="col-sm-4">
                  <div class="mb-3 d-flex flex-column justify-content-between h-100">
                    <label class="form-label negri">Identificación oficial vigente (Credencial para votar, pasaporte o
                      cédula profesional):</label>
                    <div class="mt-auto">
                      <input class="form-control" type="file" id="t1_identificacion" accept="application/pdf" (change)="onFileSelect($event, 't1_identificacion')">
                    </div>
                  </div>
                </div>

                <div class="col-sm-4">
                  <div class="mb-3 d-flex flex-column justify-content-between h-100">
                    <label class="form-label negri">Clave unica de registro de población:</label>
                    <div class="mt-auto">
                      <input class="form-control" type="file" id="t1_curp" accept="application/pdf" (change)="onFileSelect($event, 't1_curp')">
                    </div>
                  </div>
                </div>

                <div class="col-sm-4">
                  <div class="mb-3 d-flex flex-column justify-content-between h-100">
                    <label class="form-label negri">Comprobante de domicilio:</label>
                    <div class="mt-auto">
                      <input class="form-control" type="file" id="t1_comprobante_domicilio" accept="application/pdf" (change)="onFileSelect($event, 't1_comprobante_domicilio')">
                    </div>
                  </div>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-sm-4">
                  <div class="mb-3 d-flex flex-column justify-content-between h-100">
                    <label class="form-label negri">Identificación oficial vigente (Credencial para votar, pasaporte o
                      cédula profesional):</label>
                    <div class="mt-auto">
                      <input class="form-control" type="file" id="t2_identificacion" accept="application/pdf" (change)="onFileSelect($event, 't2_identificacion')">
                    </div>
                  </div>
                </div>

                <div class="col-sm-4">
                  <div class="mb-3 d-flex flex-column justify-content-between h-100">
                    <label class="form-label negri">Clave unica de registro de población:</label>
                    <div class="mt-auto">
                      <input class="form-control" type="file" id="t2_curp" accept="application/pdf" (change)="onFileSelect($event, 't2_curp')">
                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="mb-3 d-flex flex-column justify-content-between h-100">
                    <label class="form-label negri">Comprobante de domicilio:</label>
                    <div class="mt-auto">
                      <input class="form-control" type="file" id="t2_comprobante_domicilio" accept="application/pdf" (change)="onFileSelect($event, 't2_comprobante_domicilio')">
                    </div>
                  </div>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-sm-4">
                  <div class="mb-3 d-flex flex-column justify-content-between h-100">
                    <label class="form-label negri">Identificación oficial vigente (Credencial para votar, pasaporte o
                      cédula profesional):</label>
                    <div class="mt-auto">
                      <input class="form-control" type="file" id="t3_identificacion" accept="application/pdf" (change)="onFileSelect($event, 't3_identificacion')">
                    </div>
                  </div>
                </div>

                <div class="col-sm-4">
                  <div class="mb-3 d-flex flex-column justify-content-between h-100">
                    <label class="form-label negri">Clave unica de registro de población:</label>
                    <div class="mt-auto">
                      <input class="form-control" type="file" id="t3_curp" accept="application/pdf" (change)="onFileSelect($event, 't3_curp')">
                    </div>
                  </div>
                </div>

                <div class="col-sm-4">
                  <div class="mb-3 d-flex flex-column justify-content-between h-100">
                    <label class="form-label negri">Comprobante de domicilio:</label>
                    <div class="mt-auto">
                      <input class="form-control" type="file" id="t3_comprobante_domicilio" accept="application/pdf"  (change)="onFileSelect($event, 't3_comprobante_domicilio')">
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12">
                <p class="form-text mb-3" style="margin-left: 2px;">
                  Los campos marcados con (<strong>*</strong>) son obligatorios.
                </p>
              </div>
            </div>
            <br />

            <div class="text-center mt-4">
              <button   [disabled]="formTestamento.invalid"  type="submit" class="btn btn-primary px-4">
                Registrarse
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>