:host {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.auth-background {
  min-height: 100vh;
  background-image: url('/images/derechos_humanos-01.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}
