<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink=".">Solicitud</a></li>
    <li class="breadcrumb-item active" aria-current="page">Testamentos</li>
  </ol>
</nav>
<div class="row">
  <div class="col-md-12 stretch-card">
    <div class="card">
      <div class="card-body">
        <h6 class="card-title">Solicitudes de testamentos</h6>
        <div class="row">
          <div class="col-xl-3 col-md-4">
            <input type="text" class="form-control form-control-sm" placeholder="Buscar..."
              (input)="updateFilter($event)" />
          </div>
        </div>
        <div class="table-responsive">
          <div *ngIf="rows.length === 0 && !loading" class="text-center my-3">
            <p><strong>No hay datos para mostrar</strong></p>
          </div>
          <ngx-datatable #table class="bootstrap" [rows]="rows" [columnMode]="'force'" [headerHeight]="50"
            *ngIf="rows.length > 0" [footerHeight]="50" [rowHeight]="'auto'" [limit]="pageSize" [count]="filteredCount"
            [offset]="page" (page)="setPage($event)" [loadingIndicator]="loading">
            <ngx-datatable-column [headerClass]="'text-center'" [cellClass]="'text-center'" name="Nombre completo">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.user.datos_user.f_nombre}} {{row.user.datos_user.f_primer_apellido}}
                {{row.user.datos_user.f_segundo_apellido}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column [headerClass]="'text-center'" [cellClass]="'text-center'" name="Correo">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.user.datos_user.correo_per}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column [headerClass]="'text-center'" [cellClass]="'text-center'" name="Numero de telefono">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.user.datos_user.numero_tel}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column [headerClass]="'text-center'" [cellClass]="'text-center'" name="Numero de celular">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.user.datos_user.numero_cel}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column [headerClass]="'text-center'" [cellClass]="'text-center'" name="Curp">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.user.datos_user.f_curp}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column [headerClass]="'text-center'" [cellClass]="'text-center'" name="RFC">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.user.datos_user.f_rfc}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column [headerClass]="'text-center'" [cellClass]="'text-center'" name="Ver">
              <ng-template let-row="row" ngx-datatable-cell-template>
                <div class="text-center">
                  <a routerLink="show/{{ row.id }}" class="btn btn-outline-primary" data-bs-toggle="tooltip"
                    title="Ver detalles">
                    <ng-icon name="featherSearch"></ng-icon>
                  </a>
                </div>
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
        </div>
      </div>
    </div>
  </div>
</div>